*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    height: 100px;
    display: flex;
    align-items: center;
    color: rgb(77, 0, 128);
}
nav{
    height: 80px;
    background-color: rgb(77, 0, 128);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
    display: inline-block;
}
.icon-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    margin:3rem auto;
}
.card{
    padding: 2rem;
    flex-basis: calc(100% / 5);
    text-align: center;
    background-color: lightgray;
    margin: 1rem;
}
.box-icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
i{
    font-size: 60px;
    margin-bottom: 1rem;
}
.none{
    display: none;
}